.table-container
		{
		width: 100%;
		overflow-y: auto;
		overflow: auto;
		margin: 0 0 1em;
		text-align: center;
		}
.table-container-outer {position: relative;}

.table-container-fade
{
	position: absolute;
	right: 0;
	width: 30px;
	height: 100%;
	background-image: -webkit-linear-gradient(0deg, rgba(255.255.255,.5), #fff);
	background-image: -moz-linear-gradient(0deg, rgba(255,255,255,.5), #fff);
	background-image: -ms-linear-gradient(0deg, rgba(255,255,255,.5), #fff);
	background-image: -o-linear-gradient(0deg, rgba(255,255,255,.5), #fff);
	background-image: linear-gradient(0deg, rgba(255,255,255,.5), #fff);
}
.td_1{
	text-align: center;
	font-size: 15px;
	height: 30px;
}