.btntk {
	display: inline-block;
	padding: 5px 15px;
	font-size: 24px; 
	cursor: pointer; 
	text-align: center; 
	text-decoration: none; 
	outline: none; color: #fff; 
	background-color: skyblue; 
	border: none; 
	border-radius: 15px; 
	box-shadow: 0 9px #999;
}
.btntk:hover {
	background-color: cadetblue
}
.btntk:active {
	background-color: #3e8e41; 
	box-shadow: 0 5px #666; 
	transform: translateY(4px);
}
.lineUN{
	text-decoration: none;
}
.lineUN:hover{
	text-decoration: none;
}