@charset "utf-8";



a {color:#5a5a5a;text-decoration: none;display: inline-block;}
a:hover{color:#27b38b;}
.mr-64 {margin-right: 64px;}
#content .content{width:1200px;margin:0 auto;}

#head {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 98;
}

#head .c {
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    align-items: center;
    justify-content: space-between;
    padding: 23px 70px;
    min-width: 1200px;
}
#head .head-speeds {
    
    color: white;
    
}
#head .c .head-tabs-item{
    font-size: 14px;
    line-height: 20px;
    text-decoration:none;
    color: rgba(255,255,255,0.5);
    flex: 1 1 auto;
}

#head .c a:hover {
    color: rgba(255, 255, 255, 1);
}

#head .c .head-tabs {
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    align-items: flex-start;
}

#head .c .head-tabs .head-tabs-act, 
#head .c .head-tabs .head-tabs-about, 
#head .c .head-tabs .head-tabs-my{
    position: relative;
}

#head .c .head-tabs .head-tabs-act:hover .head-tabs-act__hover{
    visibility: visible;
    height: 115px;
}

#head .c .head-tabs .head-tabs-about:hover .head-tabs-about__hover{
    visibility: visible;
    height: 159px;
}

#head .c .head-tabs .head-tabs-my:hover .head-tabs-my__hover{
    visibility: visible;
    height: 115px;
}

#head .c .head-tabs .head-tabs-act .head-tabs-act__hover {
    top: -34px;
    left: -34px;
    padding-top: 34px;
    height: 0px;
    transition: height .1s;
}

#head .c .head-tabs .head-tabs-about .head-tabs-about__hover {
    height: 0px;
    top: -34px;
    left: -20px;
    padding-top: 34px;
    transition: height .1s;
}

#head .c .head-tabs .head-tabs-my .head-tabs-my__hover {
    height: 0px;
    top: -34px;
    left: -20px;
    padding-top: 34px;
    transition: height .1s;
}

#head .c .head-tabs .box-hover {
    position: absolute;
    visibility: hidden;
    width: 96px;
    background: rgba(41, 54, 60, 0.7);
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#foot {
    position: fixed;
    width: 100%;
    bottom: 24px;
    z-index: 999;
    font-size: 12px;
    line-height: 16.8px;
    color: rgba(255,255,255,0.6);
}

#foot a {
    color: rgba(255,255,255,0.6);
}

#foot .foot-box {
    display: flex;
    display: -ms-flexbox;
    display: -moz-box;
    flex-direction: column;
    align-items: center;
}

